
@media screen and (max-width: 768px) {
    .submenu_container {
        display: none;
    }
    .navigation_bar {
        justify-content: space-between;
        padding-top: 40px;
    }
    .logo {
        padding-left: 20px;
    }
    .menu {
        padding-right: 20px;
    }
    .burger {
        display: flex;
        width: 22px;
        height: 15px;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }
    .burger span {
        width: 100%;
        border-bottom: 2px solid white;
    }
}

@media screen and (min-width: 769px) {
    .navigation_bar {
        display: flex;
        justify-content: space-evenly;
        padding-top: 49px;
    }
}

@media screen and (max-width: 768px) {
    .main_container {
        grid-template-columns: 1fr;
        gap: 24px;
    }
}

@media screen and (min-width: 769px) {
    .main_container {
        grid-template-columns: 1fr 1fr;
        gap: 83px;
        /*padding: 0 100px;*/
    }
}

@media screen and (max-width: 768px) {
    .learn_more button {
        width: 100px;
        height: 100px;
    }
}

@media screen and (min-width: 769px) {
    .learn_more button {
        width: 150px;
        height: 150px;
    }
}